.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}

.menu-button-open {
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
    transition-duration: 250ms;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mob-menu {
    position: fixed;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding-bottom: 48px;
    .container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
}

.menu-button-close {
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
    margin-left: auto;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    transition-duration: 250ms;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.menu-header-navigation__list {
    display: block;
    margin-top: -6px;
    margin-bottom: auto;
}

.menu-header-navigation__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #212121;
        transition-duration: 250ms;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
}

.menu-header-navigation__link--curent {
    color: var(--accent-color);
}

.menu-header-navigation__item {
    &:not(:last-child) {
    margin-bottom: 32px;
}
}

.menu-contacts__item {
    display: block;
    &:not(:last-child) {
    margin-bottom: 32px;
    }
}

.menu-header-navigation__list {
    display: block;
}

.menu-contacts {
    margin-top: auto;
    margin-bottom: 64px;
}

.menu-contacts__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #757575;

    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    @media screen and (max-width:420px) {
        font-size: 28px;
        line-height: 1.17;
    }
}

.menu-contacts__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu-soc__list {
    display: flex;  
}

.menu-soc__label {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @media screen and (max-width:420px) {
        font-size: 14px;
        line-height: 1.19;
    }
}

.menu-soc__space {
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
    @media screen and (max-width:420px){
        margin-left: 3px;
        margin-right: 3px;
    }
}

.header-contacts {
    display: flex;
    align-items: center;
    height: 16px;
    fill: var(--text-color);
    color: var(--text-color);
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    height: 32px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation__list {
    display: flex;
}

.header-navigation__item {
    position: relative;
    display: flex;
    &+& {
            margin-left: 50px;
        }
}

.header-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var (--header-color);
}

.header-navigation__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
    &--curent {
        color: var(--accent-color);        
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background: var(--accent-color);
            }
    }
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__item {
    position: relative;
    display: flex;

    &+& {
        margin-left: 50px;
    }
}